################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectManagementApp
/ProjectManagementApp/ProjectManagementApp.Web/bin/Debug/net8.0
/ProjectManagementApp/ProjectManagementApp.Web/obj/Debug/net8.0
